.containerTarefasConcluidas {
    width: 100%;
    max-width: 80%;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px auto;
}

.tarefasConcluidas {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.boxTarefasConcluidas {
    display: flex;
    height: calc(100vh - 185px);
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}