.containerHeader {
    width: 100%;
    height: 80px;
    padding: 0 1rem;
    background-color: #252525;

    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: rgba(89,105,128,0.1) 0px 0px 0px 1px,rgba(89,105,128,0.3) 0px 3px 20px 0px,rgba(0,0,0,0.05) 0px 1px 2px 0px;
}

.appName {
    color: #FFF;
    font-weight: bold;
    font-size: 2rem;
}

.brand {
    color: #007b9e;
    font-weight: bold;
    font-size: 2.1rem;
}

.areaUser {

    display: flex;
    align-items: center;

    color: #cecece;
    font-weight: bold;
}

.btnSair {
    background: transparent;
    border: 0;
    cursor: pointer;
}

.iconLogout {
    margin-left: 1rem;
}






